_developer/dtk_ShipXML_V1/XPCIInterchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Xpci Static Release Information -->
	<!-- Change History  10/21/2000 By Hal Trebes - Updated Interchange Version to 1.0001 to reflect new vocabulary entries made under this version -->
	<!-- Change History 02/09/01 By Stephanie Weaver - Update Interchange Version 1.0002 to allow for upcoming Production Release, IntegrationIndicator optional element was added to the Request Element-->
	<xsd:element name="XpciVersion" type="xsd:string"/>
	<xsd:element name="AccessLicenseNumber" type="xsd:string">
		<!--<!ATTLIST XpciVersion  Version CDATA  #FIXED '1.0001' >
-->
	</xsd:element>
	<xsd:element name="CustomerContext">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="Error">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ErrorSeverity"/>
				<xsd:element ref="ErrorCode"/>
				<xsd:element ref="ErrorDescription" minOccurs="0"/>
				<xsd:element ref="MinimumRetrySeconds" minOccurs="0"/>
				<xsd:element ref="ErrorLocation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ErrorDigest" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorCode" type="xsd:string"/>
	<xsd:element name="ErrorDescription" type="xsd:string"/>
	<xsd:element name="ErrorDigest" type="xsd:string"/>
	<xsd:element name="ErrorLocation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ErrorLocationElementName" minOccurs="0"/>
				<xsd:element ref="ErrorLocationElementReference" minOccurs="0"/>
				<xsd:element ref="ErrorLocationAttributeName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorLocationAttributeName" type="xsd:string"/>
	<xsd:element name="ErrorLocationElementReference" type="xsd:string"/>
	<xsd:element name="ErrorLocationElementName" type="xsd:string"/>
	<xsd:element name="ErrorSeverity" type="xsd:string"/>
	<xsd:element name="IntegrationIndicator">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="MinimumRetrySeconds" type="xsd:string"/>
	<xsd:element name="OnLineTool">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ToolID"/>
				<xsd:element ref="ToolVersion"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Password" type="xsd:string"/>
	<xsd:element name="Request">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransactionReference" minOccurs="0"/>
				<xsd:element ref="RequestAction"/>
				<xsd:element ref="RequestOption" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="IntegrationIndicator" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RequestAction" type="xsd:string"/>
	<xsd:element name="RequestOption" type="xsd:string"/>
	<xsd:element name="Response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransactionReference" minOccurs="0"/>
				<xsd:element ref="ResponseStatusCode"/>
				<xsd:element ref="ResponseStatusDescription" minOccurs="0"/>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResponseStatusCode" type="xsd:string"/>
	<xsd:element name="ResponseStatusDescription" type="xsd:string"/>
	<xsd:element name="ToolID" type="xsd:string"/>
	<xsd:element name="ToolVersion" type="xsd:string"/>
	<xsd:element name="TransactionReference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomerContext" minOccurs="0"/>
				<xsd:element ref="XpciVersion" minOccurs="0"/>
				<xsd:element ref="ToolVersion" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UserId" type="xsd:string"/>
</xsd:schema>
